In [1]:
# FONKSİYON TANIMLAMA
# def ANAHTAR KELİMESİ İLE FONKSİYON TANIMLANIR

def my_function():
    pass

In [2]:
# BİR SAYININ KARESİNİ ALMA FONKSİYONU

def my_sq(x):
    return x ** 2

In [3]:
# FONKSİYONU ÇAĞIRMA

my_sq(4)

16

In [4]:
# ORTALAMA HESAPLAYAN FONKSİYON

def avg_2(x, y):
    return (x + y) / 2

In [5]:
# BASİT BİR FONKSİYON CAGIRMA

avg_2(10, 20)

15.0

In [6]:
# assert İLE FONKSİYON KONTROLU

assert avg_2(10, 20) == 15.0

In [7]:
# assert HATALI ISE SONUC BILDIRIR

assert avg_2(10, 20) == 15.1

AssertionError:

In [8]:
import pandas as pd

In [9]:
# DATAFRAME OLUSTURUYORUZ

df = pd.DataFrame({'a':[10,20,30],
                 'b':[20,30,40]})
df

    a   b
0  10  20
1  20  30
2  30  40

In [10]:
# a SUTUNUMUZUN KARESINI ALIYORUZ

df['a'] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [11]:
# a NIN TİPİ

type(df['a'])

pandas.core.series.Series

In [12]:
# my_sq İSMİNDE KARE ALAN FONKSİYONUMUZ

def my_sq(x):
    # assert isinstance(x, int)
    return x ** 2

In [13]:
# apply() İÇİNE shift+tab YAPARAK PARAMETRELERİ GÖREBİLİRİZ
# my_sq FONKSİYONUNA BAĞLANIYORUZ

df['a'].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [14]:
# 2 PARAMETRELİ FONKSİYONUMUZ

def my_exp(x, e):
    return x ** e

In [15]:
# FONKSİYONUMUZU ÇAĞIRIYORUZ

my_exp(2, 2)

4

In [16]:
my_exp(2, 10)

1024

In [17]:
# FONKSİYONUMUZA e PARAMETRESİ İLE BERABER GÖNDERİYORUZ
# my_exp FONKSİYONUMUZA BAĞLANIP SABİT e=10 VERİYORUZ

df['a'].apply(my_exp, e=2)

0    100
1    400
2    900
Name: a, dtype: int64

In [18]:
df["a4"] = df['a'].apply(my_sq)
df["a4"]

0    100
1    400
2    900
Name: a4, dtype: int64

In [19]:
# EKRANA YAZDIRMAK ICIN BIR FONKSİYON

def print_me(x):
    print(x)

In [20]:
df

    a   b   a4
0  10  20  100
1  20  30  400
2  30  40  900

In [21]:
df.apply(print_me, axis=0)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
0    100
1    400
2    900
Name: a4, dtype: int64

a     None
b     None
a4    None
dtype: object

In [22]:

def avg_3(x, y, z):
    return (x + y + z) / 3

In [23]:
# HATA VERİYOR  3 PARAMETRE VERİLMELİ

df.apply(avg_3)

TypeError: ("avg_3() missing 2 required positional arguments: 'y' and 'z'", 'occurred at index a')

In [24]:
# ORTALAMA HESAPLAMAK İÇİN YAZILMIS BİR FONKSİYON

def avg_3_apply(col):
    return np.mean(col)

In [25]:
# SUTUNLARIN ORTALAMASINI HESAPLAMAK ICIN 
# YUKARDAKINDEN FARKI HER SUTUNU AYRI HESAPLIYOR
# apply İÇİNE FONKSİYON İSMİ YAZDIKTAN SONRA shift+tab İLE PARAMETRELER VERİLİR

df.apply(avg_3_apply)

NameError: ("name 'np' is not defined", 'occurred at index a')

In [26]:

def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

In [27]:
df.apply(avg_3_apply)

a      20.000000
b      30.000000
a4    466.666667
dtype: float64

In [28]:
# NUMPY KÜTÜPHANESİ
# VEKTÖRİZE İŞLEMLER İÇİN

import numpy as np
np.vectorize(avg_2)

In [29]:
#NUMPY İLE ORTALAMA HESAPLA

df.apply(np.mean)

a      20.000000
b      30.000000
a4    466.666667
dtype: float64

In [30]:
 
df.apply(avg_3_apply, axis=1)

0     43.333333
1    150.000000
2    323.333333
dtype: float64

In [31]:
df

    a   b   a4
0  10  20  100
1  20  30  400
2  30  40  900

In [32]:
def avg_2_apply(row):
    x = row[0]
    y = row[1]
    return (x + y) / 2

In [33]:
df.apply(avg_2_apply, axis=1)

0    15.0
1    25.0
2    35.0
dtype: float64

In [34]:
def count_missing(vec):
    """Counts the number of missing values in a vector
    """
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [35]:
count_missing?

In [36]:
def avg_2(x, y):
    return (x + y) / 2

In [37]:
df

    a   b   a4
0  10  20  100
1  20  30  400
2  30  40  900

In [38]:
avg_2(df['a'], df['b'])

0    15.0
1    25.0
2    35.0
dtype: float64

In [39]:
# SUTUNLARI AYRI AYRI TOPLAMA VE BOLME

df["a"] + df["b"]

(df['a'] + df['b']) / 2

0    15.0
1    25.0
2    35.0
dtype: float64

In [40]:
def avg_2_mod(x, y):
    if (x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [41]:
# BOYLE BİR KULLANIM YOK 

avg_2_mod(df['a'], df['b'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [42]:
avg_2_mod(10, 20)

15.0

In [43]:
avg_2_mod(20, 30)

nan

In [44]:
df

    a   b   a4
0  10  20  100
1  20  30  400
2  30  40  900

In [45]:
#DEKORATOR

@np.vectorize
def v_avg_2_mod(x, y):
    if (x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [46]:
v_avg_2_mod(df['a'], df['b'])

array([15., nan, 35.])

In [47]:
import numba

In [48]:
@numba.vectorize
def v_avg_2_mod_numba(x, y):
    if (x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [49]:
v_avg_2_mod_numba(df['a'].values, df['b'].values)

array([15., nan, 35.])

In [50]:
# İŞLEME ZAMANI HESAPLAMA

%%timeit

avg_2(df['a'], df['b'])

UsageError: Line magic function `%%timeit` not found.

In [51]:
# İŞLEME ZAMANI HESAPLAMA

%%timeit
v_avg_2_mod(df['a'], df['b'])

UsageError: Line magic function `%%timeit` not found.

In [52]:
# İŞLEME ZAMANI HESAPLAMA


%%timeit
v_avg_2_mod_numba(df['a'].values, df['b'].values)

UsageError: Line magic function `%%timeit` not found.

In [53]:
import seaborn as sns

In [54]:
titanic = sns.load_dataset('titanic')

In [55]:
cmis_col = titanic.apply(count_missing)

In [56]:
cmis_col

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [57]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [58]:
cmis_row = titanic.apply(count_missing, axis=1)

In [59]:
cmis_row

0      1
1      0
2      1
3      0
4      1
5      2
6      0
7      1
8      1
9      1
10     0
11     0
12     1
13     1
14     1
15     1
16     1
17     2
18     1
19     2
20     1
21     0
22     1
23     0
24     1
25     1
26     2
27     0
28     2
29     2
      ..
861    1
862    0
863    2
864    1
865    1
866    1
867    0
868    2
869    1
870    1
871    0
872    0
873    1
874    1
875    1
876    1
877    1
878    2
879    0
880    1
881    1
882    1
883    1
884    1
885    1
886    1
887    0
888    2
889    0
890    1
Length: 891, dtype: int64